.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.text {
  position: absolute;
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;
  color: #000;
  opacity: 0.15;
  letter-spacing: 4px;
  will-change: transform;
  left: 0;
}
